<div class="aboutback">
  
  <!--<div class="square">-->
  <!--  <h2 class="text-center">ようこそ、ガウラジンギスカンへ！</h2>-->
  <!--</div>-->
  
<div class="container">
  <div class="swiper">
    <div class="swiper-wrapper">
      
      <div class="swiper-slide">
        <%= image_tag asset_path('jin3.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('mo2.jpg'), alt: '' %>
      </div>
      
      <div class="swiper-slide">
        <%= image_tag asset_path('hiboll.jpg'), alt: '' %>
      </div>
      
    </div>
    <!-- ページネーション -->
    <div class="swiper-pagination"></div>
    <!-- 前後の矢印 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  
  <script>
    const swiper = new Swiper(".swiper", {
    loop: true, // ループ
    speed: 3000, // 少しゆっくり(デフォルトは300)
    autoplay: { // 自動再生
      delay: 1000, // 1秒後に次のスライド
      disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
    },
    // ページネーション
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    // 前後の矢印
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
  </script>
</div>

<div class="square">
  <h3 class="text-center">新着お知らせ</h3>
</div>
  
<div class="container mt-3">
  <div class="row">
    <% @new_notices.each do |notice| %>
    <div class="col-12 card mb-3">
      <div class="card-body">
      <h6 class="list-group-item bg-warning"><%= notice.created_at.strftime('%Y/%m/%d %H時%M分') %></h6>
      <h5 class="list-group-item font-weight-bold"><%= notice.title %></h5>
      <h6 class="list-group-item"><%= notice.body.truncate(100) %></h6>
      <h6 class="list-group-item"><%= link_to"お知らせ一覧へ",notices_path %></h6>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="aboutback">

<div class="square">
  <h3 class="text-center">新着レビュー</h3>
</div>
  
<div class="container card mt-3 mb-3">
  <div class="row">
    <% @new_reviews.each do |review| %>
    <div class="col-lg-4">
      <%= link_to image_tag(review.image, class: "card-img-top", size: "300x300"), review_path(review) %>
    </div>   
      <div class="col-lg-8">
        <div class="card-body">
          <h6 class="list-group-item bg-warning"><%= review.created_at.strftime('%Y/%m/%d') %></h6>
          <h5 class="list-group-item font-weight-bold"><%= review.title %></h5>
          <h6 class="list-group-item"><%= review.body.truncate(50) %></h6>
          <h6 class="list-group-item"><%= @users.find(review.user_id).name %></h6>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="square">
  <h3 class="text-center">お店情報</h3>
</div>

<div class="container mt-3">
  <div class="info">
  <!--<div class="row col-12">-->
    <div class="text-white mt-4">
      <div class="logo h1 mb-2 text-center" style="font-family: Darumadrop One;">ガウラジンギスカン</div>
      <h5>基本情報</h5>
      <!--<table class="text-white">-->
      <!--  <tr><th>住所</th><td>千葉県袖ケ浦市〇〇1-1</td></tr>-->
      <!--  <tr><th>アクセス</th><td>袖ケ浦駅より徒歩1分</td></tr>-->
      <!--  <tr><th>電話番号</th><td>0438-62-〇〇〇〇</td></tr>-->
      <!--  <tr><th>営業時間</th><td>17:00~24:00</br>（フード23：00　ドリンク23：30)</td></tr>-->
      <!--  <tr><th>定休日</th><td>毎日営業中！！</td></tr>-->
      <!--</table>-->
    </div>
  <!--</div>-->
  </div>
</div>
<a>
  </br>
  </br>
</a>

</div>


