<div class="communityback">
<div class="container">
  
  <h3 class="row py-4 text-white">メニュー詳細</h3>
  
    <div class="card col-md-8 mt-2" style="background-color: #eebbcb;">
      <% if @menu.image.attached? %>
        <%= image_tag @menu.image %>
      <% else %>
        <%= image_tag 'no_image.jpg' %>
      <% end %>
    </div>
    <div class="card-body col-md-8" style="background-color: #eebbcb;">
      <!--<div class="list-group list-group-flush">-->
        <h5 class="list-group-item"><%= @menu.name %></h5>
        <p class="list-group-item"><%= @menu.price %>円（税抜き）</p>
        <p class="list-group-item"><%= @menu.explanation %></p>
      <!--</div>-->
    </div>
</div>
</div>