<% if @genre.errors.any? %>
  <%= @genre.errors.count %>件のエラーが発生しました
  <ul>
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-3">
  <div class="row">
    <h2 class="bg-light py-1 px-4 h4">ジャンル編集</h2>
  </div>

  <div class="row mt-5">
    <div class="col-md-7">
      <%= form_with model: [:admin, @genre] do |f| %>
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-2 text-nowrap">
              <%= f.label :name, 'ジャンル名', class: 'mb-2' %>
            </div>
            <div class="col-md-6 ml-2">
              <%= f.text_field :name, class: 'form-control mb-2' %>
            </div>
            <div class="col-md-3 ml-auto">
              <%= f.submit '変更を保存', class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>