<h1 class="logo text-white" style="font-family: Darumadrop One;">とうこうはコチラ</h1>

<%= form_with model: @review do |f| %>
  
  <div class="text-white font-weight-bold">
  <%= f.label :title,"タイトル" %><br />
  <%= f.text_field :title,class:"col-10 form-control" %>
  </div>
  
  <div class="text-white font-weight-bold">
  <%= f.label :body,"本文" %><br />
  <%= f.text_area :body,class:"col-10 form-control"%>
  </div>
  
  <%= f.file_field :image, accept: "image/*",class:"mt-2 text-white",size: "3×3" %>
  
  <div>
  <%= f.submit '投稿',class: "btn btn-sm btn-success px-5 mb-2 mt-2"  %>
  </div>
<% end %>