<% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
  <ul>
    <% @review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-5">
  
<h3>編集画面</h3>

<%= form_with model: @review do |f| %>

  <div class="row mt2">
    <%= f.label :title,"タイトル" ,class:"col-3" %><br />
    <%= f.text_field :title ,class:"col-5" %>
  </div>
  
  <div class="row mt-2">
    <%= f.label :body,"本文" ,class:"col-3" %><br />
    <%= f.text_area :body ,class:"col-5" %>
  </div>
  
  <div>
    <%= f.submit '保存',class: "btn btn-sm btn-success px-5 mb-2 mt-2" %>
  </div>
  
<% end %>

</div>