<%= render 'public/reviews/new', review: @review %>

<h1>レビュー投稿一覧</h1>

<% @reviews.each do |review| %>

  <%= image_tag review.get_image %>
  
  <p>タイトル</p>
  <span><%= review.title %></span>
  
  <p>本文</p>
  <span><%= review.body %></span>
  
  <p>ユーザーネーム</p>
  <span><%= review.user.name %></span>
  
<% end %>