<div class="container">
  <div class='row'>
    <div class="col-md-3 mt-5">
    <%= render 'public/reviews/new', review: @review %>
    </div>
    
    <div class="col-md-8 offset-md-1 mt-5">
    <h3>レビュー投稿一覧</h3>
    
    <% @reviews.each do |review| %>
    <div class="card mt-2">
      <%= image_tag review.get_image %>
      <div class="card-body">
      <div class="list-group list-group-flush">
      <h5 class="list-group-item">タイトル：<%= review.title %></h5>
      <p class="list-group-item"><%= review.body %></p>
      <h6 class="list-group-item">ユーザーネーム：　<%= review.user.name %></h6>
      <h6 class="list-group-item mt-2"><%= link_to "詳細ページはこちら",review_path(review.id) %></h6>
      </div>
      </div>
    </div>  
    <% end %>
    </div>
  </div>
</div>