<div class="aboutback">
<div class="container">
  <%# <div class:"row justify-content-center"> %>
  <div class="row justify-content-center">
    <div class="card col-md-8 mx-0auto" style="background-color: #cee4ae;">
    <%= image_tag @review.get_image %>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <h6 class="list-group-item">ユーザーネーム：　<%= @review.user.name %></h6>
        <h6 class="list-group-item">投稿日　　　　：　<%= @review.created_at.strftime('%Y/%m/%d') %></h6>
        <h6 class="list-group-item">タイトル　　　：　<%= @review.title %></h6>
        <p  class="list-group-item"><%= @review.body %></p>
        
        <div class="list-group-item">
          <div id="favorite_buttons_<%= @review.id %>">
            <%= render "public/favorites/favorite", review: @review %>
          </div>
        </div>
        
        <div class="list-group-item">
          <div id="comment_counter">
            <%= render "public/review_comments/counter", review: @review %>
          </div>
          <div id="comment_index">
            <%= render "public/review_comments/index", review: @review %>
          </div>
        </div>
        
        <div class="list-group-item">
          <%= render "public/review_comments/form", review: @review ,review_comment: @review_comment %>
        </div>
        
        <div class="list-group-item col-md-3">
        <% if @review.user == current_user %>
          <%= link_to "編集", edit_review_path(@review.id),class: "btn btn-sm btn-success px-5 mb-2 mt-2" %>
          <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger px-5 mb-2 mt-2" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>