
<div class="container mt-5">
  <div class:"row">
    <div class="card col-md-8 mx-0auto">
    <%= image_tag @review.get_image %>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <h6 class="list-group-item">ユーザーネーム：　<%= @review.user.name %></h6>
        <h6 class="list-group-item">投稿日　　　　：　<%= @review.created_at.strftime('%Y/%m/%d') %></h6>
        <h6 class="list-group-item">タイトル　　　：　<%= @review.title %></h6>
        <p  class="list-group-item"><%= @review.body %></p>
        
        <div>
        <% if @review.favorited_by?(current_user) %>
        <p>
          <%= link_to review_favorites_path(@review), method: :delete do %>
            ♥<%= @review.favorites.count %> いいね
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to review_favorites_path(@review), method: :post do %>
            ♡<%= @review.favorites.count %> いいね
          <% end %>
        </p>
        <% end %>
        </div>
        
        
        <div class="list-group-item">
          <p>コメント件数：<%= @review.review_comments.count %></p>
          <% @review.review_comments.each do |review_comment| %>
          <div class="mt-2">
            <%= review_comment.created_at.strftime('%Y/%m/%d') %>
            <%= review_comment.user.name %>　<br />
            <%= review_comment.comment %><br />
            <% if review_comment.user == current_user %>
              <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete %>
            <% end %>
          </div>
          <% end %>
        </div>
        <div class="list-group-item">
          <%= form_with model: [@review, @review_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメントをここに" , style: "width: 100%;" %><br />
            <%= f.submit "送信する" %>
          <% end %>
        </div>
        <div class="list-group-item col-md-3">
        <% if @review.user == current_user %>
          <%= link_to "編集", edit_review_path(@review.id),class: "btn btn-sm btn-success px-5 mb-2 mt-2" %>
          <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger px-5 mb-2 mt-2" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>