<%= flash[:notice] %>
<div class="container mt-5">
  <div class:"row">
  <div>
    <h5>ユーザーネーム：<%= @review.user.name %></h5>
    <h5>投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></h5>
    <%= image_tag @review.get_image, size: "500x500" %>
    <h5 class="mt-2">タイトル：<%= @review.title %></h5>
    <p><%= @review.body %></p>
    
    
    <div>
      <p>コメント件数：<%= @review.review_comments.count %></p>
      <% @review.review_comments.each do |review_comment| %>
      <div class="mt-2">
        <%= review_comment.user.name %><br />
        <%= review_comment.created_at.strftime('%Y/%m/%d') %>　<%= review_comment.comment %>
        <% if review_comment.user == current_user %>
          <%= link_to "削除", review_review_comment_path(review_comment.review, review_comment), method: :delete %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="mt-2">
      <%= form_with model: [@review, @review_comment] do |f| %>
        <%= f.text_area :comment, placeholder: "コメントをここに" ,class:"col-5" %><br />
        <%= f.submit "送信する" %>
      <% end %>
    </div>
    
    <% if @review.user == current_user %>
      <%= link_to "編集", edit_review_path(@review.id),class: "btn btn-sm btn-success px-5 mb-2 mt-2" %>
      <%= link_to "削除", review_path(@review.id), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-sm btn-danger px-5 mb-2 mt-2" %>
    <% end %>
  </div>
  </div>
</div>