<% if @post_board.errors.any? %>
  <%= @post_board.errors.count %>件のエラーが発生しました
  <ul>
    <% @post_board.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="communityback">
  <div>
    </br>
  </div>
<div class="container">
  <h2 class="row d-flex align-items-center justify-content-center text-white"><%= @community.name %></h2>
  <h4 class="text-white">投稿はこちら！</h4>
  
  <%= render partial: 'post_form', locals: { post_board: @post_board, community: @community } %>

  <h1 class="logo mt-5 mb-3 text-center text-white" style="font-family: Darumadrop One;">とうこういちらん</h1>
  
  <div id="post_board">
    <%= render partial: 'post_board' %>
  </div>

</div>
  <div>
    </br>
  </div>
</div>