<div class="container">
  <h4 class="my-5"><%= @user.name %>さんの会員詳細</h4>
  <table class="table table-borderless">
    <tr>
      <td>
        <%= button_to "退会処理", admin_user_path(@user), method: :delete,class: "btn btn-sm btn-danger px-5 mb-2 " %>
      </td>
    </tr>
    <tr>
      <th>会員ID</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>名前</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>
      <%= link_to"一覧画面",admin_users_path,class: "btn btn-sm btn-primary px-5 mb-2 " %>
      </td>
    </tr>
  </table>



</div>