<% if @notice.errors.any? %>
  <%= @notice.errors.count %>件のエラーが発生しました
  <ul>
    <% @notice.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container mt-5">
<h3>新規お知らせ作成</h3>
<%= form_with(model: @notice, url: admin_notices_path, local: true) do |form| %>
  
  <div class="field">
    <%= form.label :title,"タイトル" %>
    <%= form.text_field :title, size: "30", class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label :body,"内容" %>
    <%= form.text_area :body, size: "3x3", class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "新規お知らせ", class:"btn btn-success mt-2" %>
  </div>
<% end %>

<h3 class="mt-3">お知らせ一覧</h3>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th class="col-2">日時</th>
      <th class="col-2">タイトル</th>
      <th class="col-6">内容</th>
      <th></th>
    </tr>
  </thead>
  </div>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td class="col-2"><%= notice.created_at.strftime("%Y年%m月%d日") %></td>
        <td class="col-2"><%= notice.title %></td>
        <td class="col-6"><%= notice.body %></td>
        <td>
          <%= link_to '編集', edit_admin_notice_path(notice) %> |
          <%= link_to '削除', admin_notice_path(notice), method: :delete, data: { confirm: '本当に削除しますか?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>