<div class="communityback">
  <div class="container">
    <div>
      </br>
    </div>
      <%= render 'public/reviews/new', review: @review %>
      
    <div class="mt-5">
      <h1 class="logo text-white" style="font-family: Darumadrop One;">イイネのいちらん</h1>
      <div class="row col-12">
      <% @favorite_reviews.each do |favorite| %>
        <div class="card col-md-5 m-2" style="background-color: #cee4ae;">
          <%= image_tag favorite.review.image %>
            <div class="card-body">
              <div class="list-group list-group-flush">
                <p>投稿日時: <%= favorite.review.created_at.strftime('%Y/%m/%d') %></p>
                <h5 class="list-group-item">タイトル: <%= favorite.review.title %></h5>
                <p class="list-group-item"> <%= favorite.review.body %></p>
                <h6 class="list-group-item">ユーザー名: <%= favorite.review.user.name %></h6>
                <h6 class="list-group-item"><%= link_to "詳細ページはこちら",review_path(favorite.review_id) %></h6>
              </div>
            </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>