<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-5 mt-5">
      <h3 class="mt-5 font-weight-bold">マイページ</h3>
      <h5 class="mt-3 font-weight-bold">登録情報</h5>
      
      <table class="border mt-2">
        <tr class="mt-3">
          <th class="border bg-light">名前</th>
          <td class="border"><%= @user.name %></td>
        </tr>
        <tr class="mt-3">
          <th class="border bg-light">メールアドレス</th>
          <td class="border"><%= @user.email %></td>
        </tr>
      </table>
      
      <div class="mt-3">
      <%= link_to "プロフィール編集",users_information_edit_path(@user) ,class:"btn btn-success btn-sm" %>
      </div>
      <div class="mt-3">
      <%= link_to "いいねした投稿の一覧", user_favorites_path,class:"btn btn-info btn-sm" %>
      </div>
    </div>
    
    <div class="col-md-6 offset-md-1 mt-5">
    <% @user.reviews.each do |review| %>
      <div class="card mt-2">
          <%= image_tag review.get_image %>
          <div class="card-body">
            <div class="list-group list-group-flush">
              <h5 class="list-group-item">タイトル：<%= review.title %></h5>
              <p class="list-group-item"><%= review.body %></p>
              <h6 class="list-group-item">ユーザーネーム：　<%= review.user.name %></h6>
              <h6 class="list-group-item"><%= link_to "#{review.review_comments.count} コメント", review_path(review.id) %></h6>
              <h6 class="list-group-item mt-2"><%= link_to "詳細ページはこちら",review_path(review.id) %></h6>
            </div>
          </div>
        </div>  
    <% end %>
    </div>
    
  </div>
</div>