<div class="communityback">
<div class="container">
  <div class="row col-12">
    <div class="mt-5">
      <h1 class="logo text-white" style="font-family: Darumadrop One;">マイページ</h1>
      <h5 class="mt-3 text-white font-weight-bold">登録情報</h5>
      
      <table class="border mt-2">
        <tr class="mt-3">
          <th class="border bg-light">名前</th>
          <td class="border bg-light"><%= @user.name %></td>
        </tr>
        <tr class="mt-3">
          <th class="border bg-light">メールアドレス</th>
          <td class="border bg-light"><%= @user.email %></td>
        </tr>
      </table>
      
      <% if @user.email != "guest@example.com" %>
      <div class="mt-3">
        <%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "btn btn-success btn-sm" %>
      </div>
      <% end %>
      <div class="mt-3">
        <%= link_to "いいねした投稿の一覧", user_favorites_path, class: "btn btn-info btn-sm" %>
      </div>
      </div>
      </div>
    
    <h1 class="logo text-white mt-3" style="font-family: Darumadrop One;">マイとうこう</h1>
    <div class="row col-12">
    <% @user.reviews.each do |review| %>
      <div class="card col-md-5 m-3", style="background-color: #cee4ae;">
          <%= image_tag review.get_image %>
          <div class="card-body">
            <div class="list-group list-group-flush">
              <h5 class="list-group-item">タイトル：<%= review.title %></h5>
              <p class="list-group-item"><%= review.body %></p>
              <h6 class="list-group-item">ユーザーネーム：　<%= review.user.name %></h6>
              <h6 class="list-group-item"><%= link_to "#{review.review_comments.count} コメント", review_path(review.id) %></h6>
              <h6 class="list-group-item mt-2"><%= link_to "詳細ページはこちら",review_path(review.id) %></h6>
            </div>
          </div>
        </div>  
    <% end %>
    </div>
</div>
</div>