<!DOCTYPE html>
<html>
  <head>
    <title>GauraGenghisKhan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/f2af7461b5.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>
  <body>
    
    <header class="bg-dark py-2">
      <nav class="container-fluid">
        <div class="row justify-content-between align-items-center">
          <div>
            <h1>
              <%= link_to 'ガウラジンギスカン', top_path, class: 'logo h1 text-white text-nowrap font-weight-bold' %>
            </h1>
          </div>
          <% if user_signed_in? && !request.fullpath.include?("/admin") %>
            <div class="ml-auto">
              <p class="text-center text-white font-weight-bold h5">
                ようこそ、<%= current_user.name %>さん!
              </p>
            </div>
          <% end %>
          <div class="ml-auto col-4"> 
            <div class="row justify-content-between align-items-center">
              <% if request.fullpath.include?("/admin") && admin_signed_in? %>
                <%= link_to "メニュー", admin_menus_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "顧客", admin_users_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "コミュニティ", admin_communitys_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "ジャンル", admin_genres_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "レビューコメント", admin_review_comments_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "掲示板コメント", admin_post_board_comments_path, class: "btn btn-dark font-weight-bold" %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-dark font-weight-bold" %>
              <% elsif user_signed_in? %>
                <%= link_to "マイページ", user_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "メニュー", menus_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "掲示板", post_boards_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "レビュー", reviews_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-dark font-weight-bold" %>
              <% else %>
                <%= link_to "About", about_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "メニュー", menus_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "新規登録", new_user_registration_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "ログイン", new_user_session_path,class: "btn btn-dark font-weight-bold" %>
                <%= link_to "管理者ログイン", new_admin_session_path,class: "btn btn-dark font-weight-bold" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </main>
    
  </body>
</html>
